.footer{
    height: auto;
    background-color: rgb(185, 188, 191);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.footer>.about,.footer>.fast-menu,.footer>.follow{
    width: 380px;
}

.footer>.about{
    background-color: rgb(244, 151, 55);
    display: flex;
    flex-direction: column;
    padding: 33px;
    height: auto!important;
}

.footer>.fast-menu{
    background-color: rgb(226, 131, 35);
    height: 517px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer>.fast-menu>ul{
    padding: 20px;
    margin: 0;
    width: 100%;
    height: auto;
}

.footer>.fast-menu>ul>li{
    width: 100%;
    height: 40px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer>.fast-menu>ul>li>a,.footer>.fast-menu>ul>li>a:hover{
    color: white;
    text-decoration: none;
    width: 100%;
    float: left;
}

.footer>.follow{
    background-color: rgb(244, 151, 55);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


.footer>.about>.logo{
    width: 219px;
    height: 50px;
    background: url('../assets/logo_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.footer>.about>p{
    color: white;
    font-size: 16;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.footer>.about>a,.footer>.about>a:hover{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer>.follow>.follow-with-email{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>.follow>.follow-with-email>input{
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 10px 0 10px;
    border: 1px solid rgb(67, 35, 84);
    outline: none;
}

.footer>.follow>.follow-with-email>a>button{
    width: 80px;
    height: 40px;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    border: none;
    outline: none;
    background-color: rgb(67, 35, 84);
    cursor: pointer;
    margin: 0;
}

.social{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social>a>div{
    width: 50px;
    height: 50px;
    background-color: rgb(67, 35, 84);
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.3s all;
    cursor: pointer;
}

.social>a>div:hover{
    background-color: white;
    transition:0.3s all;
}

.social>a>.twitter>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/twitter_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.twitter:hover .ticon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/twitter_blue.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.facebook>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/facebook_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.facebook:hover .ficon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/facebook_blue.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.instagram>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/instagram_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.instagram:hover .iicon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/instagram_red.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.youtube>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/youtube_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}


.social>a>.youtube:hover .yicon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/youtube_red.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.copy-right{
    width: 100%;
    height: 112px;
    margin: 0;
    padding: 10px;
    background-color: rgb(67, 35, 84);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right>p{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 0;
}

@media screen and (max-width:1139px){

    .footer>.about,.footer>.fast-menu,.footer>.follow{
        width: 300px;
    }

}


@media screen and (max-width:920px){

    .footer>.about,.footer>.fast-menu,.footer>.follow{
        width: 80%!important;
        height: auto;
        padding: 30px;
        margin-top: 50px;
    }
    
    .footer>div{
        border-radius: 15px;
    }

    .footer>.follow{
        margin-bottom: 50px;
    }

    .footer>.about>.logo{
        width: 180px;
        height: 40px;
    }

    .social>a>div{
        margin: 5px;
    }

    .footer input{
        width: 200px!important;
        height: 40px!important;
        margin: 20px 0!important;
    }

    .follow-with-email{
        flex-direction: column;
        height: auto!important;
    }

}
