.fuar-ads{
    width: 100%!important;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 244, 245);
    padding: 30px 0 30px 0;
}

.fuar1{
    height: 20vw;
    background: url('../assets/fall2020-1.jpg');
    background-position: center;
    background-size: 100%;
    padding: 0;
    background-repeat: no-repeat;
}

.fuar2{
    height: 20vw;
    background: url('../assets/fall2020-2.jpg');
    background-position: center;
    background-size: 100%;
    padding: 0;
    background-repeat: no-repeat;
}


.fuar-time{
    width: 100%;
    height: 461px;
    background-color: rgb(67, 35, 84);
    display: flex;
    align-items: center;
}

.fuar-content{
    width: 350px;
    height: 361px;
    margin-left: 10%;
}

.fuar-content>h4{
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.fuar-content>.fuar{
    width: 100%;
    height: 261px;
    display: flex;
    justify-content: space-between;
}

.fuar-content>.fuar>.icon{
    width: 75px;
    height: 75px;
    background: url('../assets/date.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fuar-content>.fuar>.about{
    width: 245px;
    height: 261px;
}

.fuar-content>.fuar>.about>.date{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}

.fuar-content>.fuar>.about>.fuar-name,.go-fuar{
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition:0.2s all
}

.fuar-content>.fuar>.about>.fuar-name:hover,.go-fuar:hover{
    color: rgb(128, 128, 128);
    text-decoration: none;
    transition:0.2s all
}

.fuar-links>.link1,.fuar-links>.link2{
    width: 210px!important;
}

.go-fuar{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s all;
}

.go-fuar>p{
    margin: 0;
}


.go-fuar>.arrow-icon{
    width: 20px;
    height: 20px;
    background: url('../assets/arrow-white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all;
}

.go-fuar:hover .arrow-icon{
    background: url('../assets/arrow-gray.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all;
}

.fuar-content>.fuar>.about>.about-fuar{
    font-size: 16px;
    color: white;
    font-weight: normal;
}

@media screen and (min-width:768px) and (max-width:991px){
    .fuar1,.fuar2{
        height: 32vw;
    }

    .fuar2{
        margin-top: 20px;
    }
}

@media screen and (max-width:767px){
    .fuar-ads{
        margin-top: 180px;
        padding: 0;
    }

    .fuar1,.fuar2{
        height: 45vw!important;
    }

    .fuar-time{
        padding: 0;
        height: 450px;
        justify-content: center;
    }

    .fuar-content{
        margin: 0;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fuar-content>.fuar{
        width: 261px;
        flex-direction: column;
        height: 350px;
    }

    .fuar-content>h4{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .fuar-links>.link1,.fuar-links>.link2{
        width: 60%!important;
    }
}