.fuar-inner{
    background: url('../assets/pageimages/exhibitors_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fuar-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fuar-item{
    width: 600px;
    padding: 20px;
    border: 1px solid rgb(242, 244, 245);
}

.fuar-item>.fuar-name{
    color: rgb(128, 130, 133);
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.2s all;
}

.fuar-item>.fuar-name:hover{
    color: rgb(67, 35, 84);
    text-decoration: none;
    transition: 0.2s all;
}

.fuar-item>.date{
    color: rgb(167, 174, 191);
    font-size: 14px;
    margin-top: 10px;
    font-weight: lighter;
}

.fuar-item>.about-fuar{
    color: rgb(44, 46, 49);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 30px;
}

.fuar-item>.go-fuar{
    color: rgb(99, 117, 135);
    font-size: 14px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration:none;
    transition: 0.2s all;
}

.fuar-item>.go-fuar:hover{
    color: rgb(67, 35, 84);
    text-decoration:none;
    transition: 0.2s all;
}

@media screen and (max-width:767px){
    .fuar-item{
        width: 100%;
    }

    .fuar-content>h3{
        font-weight: bold;
        font-size: 25px!important;
    }
}