.galeri-inner{
    background: url('../assets/pageimages/galery_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.galeri-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0 7% 0 7%;
    flex-direction: column;
}

.galeri-content .galeri-item{
    margin-bottom: 30px;
    width: 91%!important;
    height: auto;
    border: 0.08vw solid rgb(240, 240, 241);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeri-content .galeri-item>.collapse-item{
    width: 100%!important;
    height: 54px;
    background-color: white;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    color: rgb(51, 51, 51);
    transition: 0.2s all;
}

.galeri-content .collapse-item:hover{
    background-color: rgb(67, 35, 84)!important;
    color: white!important;
    transition: 0.2s all!important;
}

.galeri-item img{
    width: 16.3vw;
    margin: 1.35vw;
    float: left;
}

@media screen and (max-width:767px){

    .demo{
        width: 265px;
    }

    .galeri-item{
        align-items: center;
        border: 1px solid rgb(240, 240, 241)!important;
    }

    .galeri-item .galeri{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .galeri-item img{
        width: 250px;
        float: left;
        margin-top: 50px;
        text-align: center;
    }
}