.header{
    height: 110px;
    background-color: rgb(67, 35, 84);
}

.header.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>.row>.logo{
    height: 110px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: flex-end;  
    padding-right: 45px;  
}

.header>.row>.logo>img{
    width:219px;
}

.header>.row>.exhibitors{
    background-color: rgb(67, 35, 84);
    height: 110px;
    padding: 27px!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header>.row>.exhibitors>button{
    width:215px;
    height: 52px;
    border-radius: 3px;
    background-color: rgb(67, 35, 84);
    border:1px solid white;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition:0.3s all;
}

.header>.row>.exhibitors>button:hover{
    border:1px solid rgb(151, 153, 155);
    background-color: white;
    color: rgb(151, 153, 155);
    transition:0.3s all;
}

.morethan{
    background: url('../assets/morethan.png');
    width: 10px;
    height: 15px;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.header>.row>.exhibitors>button:hover .morethan{
    background: url('../assets/gray_morethan.png');
    width: 10px;
    height: 15px;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.header>.row>.burger-menu{
    background-color: rgb(67, 35, 84);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.header>.row>.burger-menu>button{
    width: 40px;
    height: 40px;
    background: url('../assets/burgermenu.png');
    background-size: 100%;
    background-position: center;
    outline: none;
    background-repeat: no-repeat;
    border: none;
}

@media screen and (max-width:767px){

    .header>.row>.logo>img{
        width: 170px;
    }

    .header>.row>.exhibitors{
        display: none;
    }

    .header>.row>.burger-menu{
        width: 30%!important;
        display: flex!important;
        padding: 0;
    }    

    .header>.row>.logo{
        padding: 0!important;
        width: 70%!important;
        justify-content: center;
    }
    
}