.iletisim-inner{
    background: url('../assets/pageimages/contact_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iletisim-content{
    width: 100%;
    height: 300px;
    background-color: rgb(67, 35, 84);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.iletisim-content>.location{
    margin-top: 30px;
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.iletisim-content>.mail{
    width: auto;
    display: flex;
    align-items: center;
}

.iletisim-content>.call{
    width: auto;
    display: flex;
    align-items: center; 
}

.iletisim-content>.mail>a,.iletisim-content>.call>a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iletisim-content>.location>a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-family: sans-serif;
}

.iletisim-content>.location>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/location.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.iletisim-content>.mail>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/mail.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iletisim-content>.call>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/call.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}