.invitation-register{
    width: 480px;
    height: 420px;
    background-color: rgba(0, 8, 12, 0.6);
    border-radius: 15px;
    position: absolute;
    top: 185px;
    right: 10%;
}

.invitation-register>form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}

.invitation-register>form>h5{
    color: white;
    font-size: 18px;
}

.invitation-register>form>select,.invitation-register>form>input{
    width: 90%;
    height: 40px;
    border-radius: 1px;
}

.invitation-register>form>input{
    padding: 0 15px 0 15px;
}

.invitation-register>form>label{
    width: 90%;
    font-size: 12px;
    color: white;
}

.invitation-register>form>label>input{
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.invitation-register>form>button{
    width: 112px;
    height: 44px;
    color: white;
    background-color: rgb(244, 151, 55);
    border: 0;
    outline: none;
    border-radius: 0;
    font-size: 15px;
    transition: 0.3s all;
    margin-right: -66%;
}

.invitation-register>form>button:hover{
    background-color: rgb(67, 35, 84);
    transition: 0.3s all;
}

.closeX{
    width: 25px;
    height: 25px;
    background-color: black;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s all;
}

.closeX:hover{
    background-color: rgb(244, 151, 55);
    transition: 0.2s all;
}

.closeX>img{
    width: 13px;
    height: 13px;
}

.call-register{
    width: 100px;
    height: 30px;
    background-color: rgb(67, 35, 84);
    position: absolute;
    top: 230px;
    right: -35px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    transform: rotate(270deg);
    z-index: 2;
    cursor: pointer;
    display: none;
}

.call-register>h5{
    margin: 0;
    padding: 0;
}

@media screen and (min-width:768px) and (max-width:991px){
    .invitation-register{
        width: 400px;
    }
}

@media screen and (max-width:767px){
    .invitation-register{
        position: relative;
        width: 100%;
        right: 0;
        left: 0;
        margin: auto;
        margin-top: 0;
        margin-top: -185px;
        border-radius: 0;
        background-color: rgb(67, 35, 84);
    }

    .invitation-register>form>button{
        border: 1px solid white;
    }

    .call-register{
        display: none;
    }


    .invitation-register>form>h5{
        color: white;
        font-size: 17px;
    }

    .invitation-register>form>.closeX{
        display: none;
    }

    .invitation-register>form>button{
        margin-right: -50%!important;
    }

    .invitation-register>form>select,.invitation-register>form>input{
        width: 85%;
        height: 35px;
        font-size: 13px;
    }

}