.katilimci-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0 7% 0 7%;
    flex-direction: column;
}

.katilimci-inner{
    background: url('../assets/pageimages/katilimci_okullar_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.katilimci-content .katilim-item{
    margin-bottom: 30px;
    width: 91%!important;
    height: auto;
    border: 0.08vw solid rgb(240, 240, 241);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.katilimci-content .katilim-item>.collapse-item{
    width: 100%!important;
    height: 54px;
    background-color: white;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    color: rgb(51, 51, 51);
    transition: 0.2s all;
}

.katilimci-content .collapse-item:hover{
    background-color: rgb(67, 35, 84)!important;
    color: white!important;
    transition: 0.2s all!important;
}


.katilim-item .katilimci{
    width: 16.35vw;
    height: 20.74vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    float: left;
    margin: 1.35vw;
}

.katilim-item .katilimci>img{
    width: 16.35vw;
    height: 16.35vw;
    border: 1px solid rgb(128, 128, 128);
}

.katilim-item .katilimci>.name{
    padding-top: 0.532vw;
    font-size: 1.05vw;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:767px){

    .demo{
        width: 265px;
    }

    .katilim-item{
        align-items: center;
        border: 1px solid rgb(240, 240, 241)!important;
    }

    .katilim-item .katilimci{
        width: 250px;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: left;
        margin-top: 50px;
        text-align: center;
    }

    .katilim-item .katilimci>img{
        width: 250px;
        height: 250px;
        border: 1px solid black;
    }

    .katilim-item .katilimci>.name{
        font-size: 14px;
        color: black;
        font-weight: bold;
        padding: 8px 5px 0 5px;
    }
}