.menu{
    height: 61px;
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 40px;
    justify-content: center;
    background-color: rgb(67, 35, 84);
}

.menu>ul{
    display: flex;
    height: 61px;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu>ul>li>a,.menu>ul>li>a:active,.menu>ul>li>a:visited{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    width: 100%!important;
    padding: 20px 10px;
    transition: 0.2s all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu>ul>li>a:hover{
    background-color: rgb(244, 151, 55);
    transition: 0.2s all;
}

.menu>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) and (max-width:991px){
    .menu>ul>li>a{
        font-size: 12px;
    }
}

@media screen and (max-width:767px){
    .menu{
        display: none;
    }

}