.mobile-menu{
    width: 100%;
    height: 520px;
    margin: 0!important;
    padding: 0!important;
    background-color: rgb(244, 151, 55);
}

.mobile-menu>ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0!important;
    padding: 0px 20px 0px 20px;
}

.mobile-menu>ul>li{
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    padding-left: 20px;
    height: 50px;
    border-bottom: 1px solid white;
}

.mobile-menu>ul>li>a,.mobile-menu>ul>li>a:visited,.mobile-menu>ul>li>a:active{
    color: white;
    text-decoration: none;
    float: left;
    width: 100%;
}

.mobile-menu{
    display: none;
}


@media screen and (max-width:767px){
    .mobile-menu{
        display: none;
    }
}