.iletisim-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.davetiye-inner{
    background: url('../assets/pageimages/SE_fall_2020_online_kayit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iletisim-content>.invitation-register{
    width: 100%;
    height: 500px;
    background-color: rgb(242, 244, 245);
}

.iletisim-content>.invitation-register>form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}

.iletisim-content>.invitation-register>form>h5{
    color: rgb(67, 35, 84);
    font-size: 18px;
}

.iletisim-content>.invitation-register>form>select,.invitation-register>form>input{
    width: 90%;
    height: 40px;
    border-radius: 1px;
}

.iletisim-content>.invitation-register>form>input{
    padding: 0 15px 0 15px;
}

.iletisim-content>.invitation-register>form>label{
    width: 90%;
    font-size: 12px;
    color: black;
}

.iletisim-content>.invitation-register>form>label>input{
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.iletisim-content>.invitation-register>form>button{
    width: 112px;
    height: 44px;
    color: white;
    background-color: rgb(244, 151, 55);
    border: 0;
    outline: none;
    border-radius: 0;
    font-size: 15px;
    transition: 0.3s all;
}

.iletisim-content>.invitation-register>form>button:hover{
    background-color: rgb(67, 35, 84);
    transition: 0.3s all;
}

@media screen and (min-width:768px) and (max-width:991px){
    .iletisim-content>.invitation-register{
        width: 100%;
    }
}

@media screen and (max-width:767px){
    
    .iletisim-content>.invitation-register>form>h5{
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .iletisim-content>.invitation-register>form>select,.invitation-register>form>input{
        width: 85%;
        height: 35px;
        font-size: 13px;
    }

}