.sweet{
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pin{
    width: 20px;
    height: 20px;
    background: url('../assets/pin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.line1{
    width: 70px;
    height: 1px;
    background-color: rgb(215, 215, 216);
}

.organized-by{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto!important;
    margin-bottom: 50px;
}

.organized-by>h2{
    color: rgb(67, 35, 84);
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
}


.owl1,.owl2,.owl3,.owl4{
    width: 270px;
    height: 86px;
    margin-right: 10px;
}

.owl1{
    background: url('../assets/organisedby/bilimevi-logo.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl2{
    background: url('../assets/organisedby/gkr-logo.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl3{
    background: url('../assets/organisedby/idealist-logo.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl4{
    background: url('../assets/organisedby/karya-logo.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}


.owl1,.owl2,.owl3,.owl4,.owl11,.owl22,.owl33,.owl44,.owl55,.partner{
    width: 210px!important;
    height: 70px!important;
    cursor: pointer;
    margin: auto;
}

.partner{
    background: url('../assets/sponsors/aldebarant-travel.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}

.owl11{
    background: url('../assets/sponsors/1.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl22{
    background: url('../assets/sponsors/4.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl33{
    background: url('../assets/sponsors/5.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl44{
    background: url('../assets/sponsors/6.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl55{
    background: url('../assets/sponsors/pearson-pte-academic-logo.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl-carousel{
    margin-top: 30px;
    width: 90%!important;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px){
    .organized-by h2{
        font-size: 30px;
        font-weight: bold;
    }
}