.sart-inner{
    background: url('../assets/pageimages/Study-Expo-yarisma.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.yarisma-sartlari-content a{
    color: rgb(128, 130, 133);
    text-decoration: none;
    transition: 0.2s all;
}

.yarisma-sartlari-content a:hover{
    color: rgb(67, 35, 84);
    transition: 0.2s all;
}

.yarisma-sartlari-content{
    margin-bottom: 30px;
}