.carousel,.carousel-inner,.carousel-item,.carousel-item>.img1{
    width: 100%;
    height: 450px;
}

.carousel-item>.img1{
    width: 100%;
    height: 450px;
    background: url('../assets/slider-2020-10-03.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.carousel-item>.img2{
    width: 100%;
    height: 450px;
    background: url('../assets/slider-2020-10-04.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

@media screen and (max-width:991px){
    .carousel-item>.img1{
        width: 100%;
        height: 450px;
        background: url('../assets/slider-2020-10-03.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .carousel-item>.img2{
        width: 100%;
        height: 450px;
        background: url('../assets/slider-2020-10-04.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }   
}

@media screen and (max-width:767px){

    .carousel,.carousel-inner,.carousel-item{
        height: 55vw;
    }

    .carousel-item>.img1{
        width: 100%;
        height: 55vw;
        background: url('../assets/slider-2020-10-03.jpg');
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }
    
    .carousel-item>.img2{
        width: 100%;
        height: 55vw;
        background: url('../assets/slider-2020-10-04.jpg');
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }   
    
}
