.sponsor-inner{
    background: url('../assets/pageimages/sponsor_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor-content>.sponsors{
    width: auto!important;
    height: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.sponsor-content>.sponsors>a>div{
    width: 210px;
    height: 210px;
    float: left;
    margin: 30px;
}

.sponsor1{
    background: url('../assets/sponsors/sponsor2.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor2{
    background: url('../assets/sponsors/sponsor3.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor3{
    background: url('../assets/sponsors/sponsor4.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor4{
    background: url('../assets/sponsors/sponsor7.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor5{
    background: url('../assets/sponsors/pearson_255x255.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor6{
    background: url('../assets/sponsors/aldebarant-travel-big.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor-content>.mail{
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.sponsor-content>.call{
    width: auto;
    display: flex;
    align-items: center; 
}

.sponsor-content>.mail>a,.sponsor-content>.call>a{
    font-size: 25px;
    color: rgb(128, 143, 158);
    text-decoration: none;
    margin-left: 15px;
    font-family: sans-serif;
}

.sponsor-content>.mail>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/mail.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor-content>.call>.icon{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/call.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px){
    .sponsor-content>.sponsors{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sponsor-content{
        width: 100%!important;
        text-align: center;
    }

}