*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: rgb(67, 35, 84)!important;
    color: white!important;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    overflow-x: hidden;
}

.why{
    width: 100%;
    height: 192px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.sweet{
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pin{
    width: 20px;
    height: 20px;
    background: url('../assets/pin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.line1{
    width: 70px;
    height: 1px;
    background-color: rgb(215, 215, 216);
}

.why>h2{
    color: rgb(67, 35, 84);
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
}

.why>p{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(84, 84, 84);
    text-align: center;
}

.causes{
    width: 100%;
    height: auto;
    background-color: rgb(67, 35, 84);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.causes>.part1,.causes>.part2{
    width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.causes .cause{
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px 0 5px;
    text-align: center;
}

.cause>p{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-family: sans-serif;
}

.cause1>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/book.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.cause2>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/connectpeople.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.cause3>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/university.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.cause4>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/cripto.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.cause5>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/indirim.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.cause6>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/ucretsiz.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
    margin-bottom:10px;
}

.fuar-links{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fuar-links>.link1,.fuar-links>.link2{
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px 0 5px;
    text-align: center;
    margin: 20px;
}

.fuar-links>.link1>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/books.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fuar-links>.link2>.icon{
    width: 80px;
    height: 80px;
    background: url('../assets/student-hat.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fuar-links>.link1>a,.fuar-links>.link2>a{
    color: rgb(67, 35, 84);
    text-decoration: none;
    font-weight: bold;
    font-size: 20;
    font-family: sans-serif;
}

.privacy-content p{
    color: rgb(44, 46, 49);
}

.header-inner{
    width: 100%;
    height: 281px;
}

.privacy-inner{
    background: url('../assets/pageimages/exhibitors_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation-inner{
    width: 100vw;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    margin-bottom: 50px;
}

.navigation-inner>.links{
    width: 100%!important;
    flex-wrap: wrap;
}

.navigation-inner>.links>.name{
    width: 50%;
    justify-content: flex-start!important;
    align-items: center;
    color: rgb(23, 55, 110);
    font-size: 24px;
    font-family: sans-serif;
}

.navigation-inner>.links>.name>*{
    margin: 0;
    padding:0;
}

.navigation-inner>.links>.link{
    width: 50%;
    justify-content: flex-end!important;
    align-items: center;
}

.navigation-inner>.links>.link>*{
    margin: 0;
    padding:0;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(128, 130, 133);
    transition:0.2s all;
    text-decoration:none;
}

.navigation-inner>.links>.link>a:hover{
    color:rgb(67, 35, 84);
    transition:0.2s all;
    text-decoration:none;
}



@media screen and (max-width:899px){
    .cause3{
        border-right: none!important;
    }

    .part2{
        margin-top: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .fuar1,.fuar2{
        height: 32vw;
    }

    .fuar2{
        margin-top: 20px;
    }

    .why{
        height: 230px;
        justify-content: space-around;
    }
}

@media screen and (max-width:767px){
    .why>h2{
        color: rgb(67, 35, 84);
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 10px;
        text-align: center;
    }
    
    .why>p{
        font-size: 20px;
        font-family: sans-serif;
        color: rgb(84, 84, 84);
        text-align: center;
    }

    .why{
        height: 300px;
    }

    .cause{
        justify-content: space-around!important;
        width: 240px!important;
        border: none!important;
        border-bottom: 1px solid rgb(222, 220, 220)!important;
    }

    .navigation-inner{
        height: 100px;
    }

    .navigation-inner>.links{
        flex-direction: column;
    }

    .navigation-inner>.links>div{
        width: 100%!important;
    }

    .navigation-inner>.links>.name{
        font-size: 20px;
        margin-bottom: 2px;
    }

    .navigation-inner>.links>.link>*{
        font-size: 13px;
        margin-top: 2px;
    }

}