.yurtdisi-fuar-content{
    width: 100vw;
}

table{
    width: 100%;
    margin-top: 40px;
}

table th{
    width: 33%!important;
    color: rgb(67, 35, 84);
    font-size: 24px;
    font-family: sans-serif;
    font-weight: lighter;
}

table td{
    font-size: 14px;
    color: rgb(128, 130, 133);
    font-weight: lighter;
}

.birlikte{
    color: rgb(99, 117, 135);
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: underline;
    transition: 0.2s all;
}

.birlikte:hover{
    color: rgb(67, 35, 84);
    transition: 0.2s all;
}

@media screen and (max-width:767px){
    
    table th{
        font-size: 15px;
    }
}
